#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Gradle
build
.gradle

# Robolectric Test jars
libs_test

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
tmp
# backup files from gedit
*~
out/
crashlytics.properties
com_crashlytics_export_strings.xml
