<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.nists">

  <uses-sdk
    android:minSdkVersion="15"
    android:targetSdkVersion="19" />

  <application
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@drawable/ic_launcher"
    android:theme="@style/Theme.TranslucentActionBar"
    android:label="@string/app_name">

    <provider
      android:name="com.ataulm.nists.contentprovider.NistContentProvider"
      android:authorities="com.ataulm.nists.contentprovider"
      android:exported="false" />

    <activity
      android:name="com.ataulm.nists.activity.WelcomeActivity"
      android:label="@string/app_name"
      android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.ataulm.nists.activity.StacksActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="stateHidden">

      <!-- Filter for implicit intent -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="vnd.android.cursor.item/vnd.com.ataulm.nist" />
      </intent-filter>

      <!-- TODO: Define further intent filters.
           This is the Activity which allows you to VIEW, EDIT, INSERT and PICK Stacks.
           Ensure behaviour is well-defined for each action before adding the filters.
           -->
    </activity>
  </application>
</manifest>
